@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Balsamiq Sans", cursive;
    color: rgb(235, 235, 235);
}

body {
    background-color: rgb(199, 191, 191);
    background-image: url('https://cdn.discordapp.com/attachments/468501401350176798/810924469740240906/D182D0B0D182D183D181D0B0D0BBD0BED0BDD0B2D09CD0BED181D0BAD0B2D0B5LoveLifeTattoo.png');
    // background-image: url("https://media.contentapi.ea.com/content/dam/apex-legends/common/map-comparison-slider-assets/apex-comparison-s2-shattered-forest-after.jpg");
    // background-image: url("https://saintbasil.ru/img.php?ipt=https://3dnews.ru/assets/external/illustrations/2020/02/21/1004190/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    .overlay {
        z-index: 999;
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: #0e0e10;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;

        img {
            height: 130px;
            width: 130px;
            margin-right: 50px;
        }

        p {
            font-size: 25px;
            width: 370px;
            font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            margin-bottom: 30px;
            color: grey;
        }

        button {
            background-color: #802be0;
            font-size: 24px;
            padding: 10px;
            opacity: none;
            border-radius: 7px;
            border: none;

            a {
                text-decoration: none;
                font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
            }
        }
    }

    .version {
        position: fixed;
        bottom: 5px;
        left: 5px;
        color: red;
    }

    main {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;
        .hits {
            z-index: 1;

            display: flex;
            justify-content: space-between;
            .hit {
                background-color: grey;
                width: 45%;
                font-size: 25px;
                margin-top: 10px;
                margin-bottom: -10p;
                // outline: none;
            }
        }

        .info {
            z-index: 1;
            overflow: hidden;
            .hp {
                transition: 1s;
                width: 245px;
                position: absolute;
                top: 215px;
                z-index: 1;
                margin-left: 200px;
                margin-top: -40px;
            }
            .hpbar {
                background-color: white;
                color: rgb(200, 200, 200);
                height: 15px;
                width: 10%;
                z-index: 35;
                transition: 0.3s;
            }
            .bodyArmor {
                position: relative;
                left: 350px;
                top: -40px;
                z-index: 3;
                border-radius: 5px;
            }
            .headArmor {
                position: relative;
                left: 350px;
                top: -40px;
                z-index: 3;
                border-radius: 5px;
            }
            .deathCounter {
                color: rgb(200, 198, 198);
                position: relative;
                top: -60px;
                z-index: 3;
                left: 200px;
            }
            .hero {
                z-index: 2;
                position: relative;
            }

            .hpDisplay {
                position: relative;
                z-index: 43;
                color: rgb(200, 198, 198);
                top: -100px;
                left: 260px;
            }
        }
        .man {
            position: fixed;
            top: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            display: flex;
            width: 100%;
            z-index: 1;
            .body {
                max-height: 650px;
                margin-left: 30px;
            }
            .face {
                position: fixed;
                margin: 0 auto;
                top: 200px;
                max-width: 200px;
                display: none;
            }
            .fists {
                transition: 0.2s;
                position: fixed;
                margin-top: -50px;
            }
            .fistLeft {
                margin-left: -250px;
                // margin-left: -100px;
            }

            .fistRight {
                margin-left: 250px;
                // margin-left: 50px;
            }

            .fist {
                transition: 0.05s;
                margin-top: 50px;
            }
        }
    }

    .damage {
        position: fixed;
        margin: 0 auto;
        top: 350px;
        left: 50%;
        color: black;
        font-weight: bold;
        font-size: 55px;
    }

    .baloons {
        position: absolute;
        z-index: 0;
        top: 550px;
        max-height: 30vh;
        width: contain;
    }
}
