@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Balsamiq Sans", cursive;
    color: rgb(235, 235, 235);
}
.version {
    position: fixed;
    bottom: 5px;
    left: 5px;
    color: red;
}
body {
    background-color: rgb(199, 191, 191);
    background-image: url("https://saintbasil.ru/img.php?ipt=https://3dnews.ru/assets/external/illustrations/2020/02/21/1004190/1.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    height: 900px;
    display: flex;
    justify-content: center;
}
main {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.hits {
    margin-bottom: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-left: 50px;
}
.hitRight {
    position: relative;
    background-color: grey;
    border-radius: 10px;
    width: 200px;
    font-size: 25px;
    outline: none;
}

.hitLeft {
    position: relative;
    background-color: grey;
    border-radius: 10px;
    width: 200px;
    font-size: 25px;
    outline: none;
    margin-right: 10px;
}

.man {
    width: 600px;
    display: flex;
    position: relative;
    margin: 0 auto;
}

.body {
    margin-left: 150px;
}

.face {
    height: 180px;
    width: unset;
    margin-left: -250px;
}

.fistLeft {
    position: absolute;
    transition: 0.05s;
    width: unset;
    height: 100px;
    margin-top: 250px;
    margin-left: -50px;
    /* margin-left: 200px; */
    
}
.fistRight {
    position: absolute;
    transition: 0.05s;
    width: unset;
    height: 100px;
    margin-top: 250px;
    
    margin-left: 500px;
    /* margin-left: 300px; */
}

.man img:nth-child(2) {
    left: 100px;
}

.man img:nth-child(3) {
    top: 350px;
}

.hpbar {
    background-color: white;
    height: 30px;
    z-index: 35;
    border: 1px red solid;
    transition: 0.3s;
}
.hpDisplay {
    position: absolute;
    z-index: 2;
    color: rgb(200, 198, 198);
    margin-left: 33px;
}
.deathDisplay {
    z-index: 5;
    color: rgb(200, 198, 198);
    position: absolute;
    margin-left: 65px;
}
.hp {
    transition: 1s;
    background-color: red;
    position: relative;
    height: 30px;
    width: 270px;
    margin-left: 100px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.hp img {
    position: absolute;
    top: -80px;
    left: -100px;
}
.damage {
    position: absolute;
    top: 350px;
    left: 150px;
    font-weight: bold;
    font-size: 55px;
}
.bodyArmor {
    position: fixed;
    top: 50px;
    margin-left: 290px;
    margin-top: 60px;
    z-index: 2;
    border-radius: 15px;
    height: 30px;
    width: 30px;
}
.headArmor {
    position: fixed;
    margin-left: 330px;
    margin-top: 60px;
    z-index: 2;
    border-radius: 15px;
    height: 30px;
    width: 30px;
}
