@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");

* {
    margin: 0;
    padding: 0;
    font-family: "Balsamiq Sans", cursive;
    color: rgb(235, 235, 235);
}

body {
    background-color: rgb(199, 191, 191);
    background-image: url("https://saintbasil.ru/img.php?ipt=https://3dnews.ru/assets/external/illustrations/2020/02/21/1004190/1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;

    .version {
        position: fixed;
        bottom: 5px;
        left: 5px;
        color: red;
    }

    main {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
overflow: hidden;
        .hits {
            z-index: 1;

            display: flex;
            justify-content: space-between;
            .hit {
                background-color: grey;
                width: 45%;
                font-size: 25px;
                margin-top: 10px;
                margin-bottom: -10p;
                // outline: none;
            }
        }

        .info {
            z-index: 1;
            overflow: hidden;
            .hp {
                transition: 1s;
                width: 245px;
                position: absolute;
                top: 215px;
                z-index: 1;
                margin-left: 200px;
                margin-top: -40px;
            }
            .hpbar {
                background-color: white;
                color: rgb(200, 200, 200);
                height: 15px;
                width: 10%;
                z-index: 35;
                transition: 0.3s;
            }
            .bodyArmor {
                position: relative;
                left: 350px;
                top: -40px;
                z-index: 3;
                border-radius: 5px;
            }
            .headArmor {
                position: relative;
                left: 350px;
                top: -40px;
                z-index: 3;
                border-radius: 5px;
            }
            .deathCounter {
                color: rgb(200, 198, 198);
                position: relative;
                top: -60px;
                z-index: 3;
                left: 200px;
            }
            .hero {
                z-index: 2;
                position: relative;
            }

            .hpDisplay {
                position: relative;
                z-index: 43;
                color: rgb(200, 198, 198);
                top: -100px;
                left: 260px;
            }
        }
        .man {
            position: fixed;
            top: 200px;
            display: flex;
            align-items: center;
            justify-content: center;
            display: flex;
            width: 100%;
            z-index: 1;
            .face {
                position: fixed;
                margin: 0 auto;
                top: 200px;
            }
            .fists {
                transition: 0.2s;
                position: fixed;
                margin-top: -50px;
            }
            .fistLeft {
                margin-left: -250px;
                // margin-left: -100px;
            }

            .fistRight {
                margin-left: 250px;
                // margin-left: 50px;
            }

            .fist {
                transition: 0.05s;
                margin-top: 50px;
            }
        }
    }

    .damage {
        position: fixed;
        margin: 0 auto;
        top: 350px;
        left: 50%;
        color: black;
        font-weight: bold;
        font-size: 55px;
    }

    .baloons {
        position: absolute;
        z-index: 0;
        top: 550px;
        max-height: 30vh;
        width: contain;
    }
}
